section{

    height: 70vh;
    width: 80;
    border: 2px solid black;
    background-color: bisque;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    row-gap: 20px;
}

div{
    position: 150px;
    width: 150px;
    border-color: aqua;
    border: 3px solid black;
}